<div class="jumbotron" style = "margin-right: 100px; margin-left: 100px">
  <h1>Welcome to Socializme.me</h1>
  <p> Mil veces mejor que hootsuite </p>
</div>

<!--<a class="twitter-timeline" href="https://twitter.com/csembriz" data-widget-id="468404096609705985">Tweets por @csembriz</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->