/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Sticky footer styles
-------------------------------------------------- */

body {
    /* Margin bottom by footer height */
    /*white-space: nowrap;*/
}


#contenido {
    white-space: nowrap;
}

#contenido > * {
    white-space: normal;
}

.scrolling-bar {
    overflow-y: scroll;
    height: 80vh;
}

.container.column {
    display: inline-block;
    padding: 3px 3px 3px 3px;
    width: 60vh;
}



#contenido {
    /*margin-top: 55px;*/
    margin-left: 0vh;
    margin-bottom: 0vh;
    clear: both;
}

html {
    overflow-y: hidden;
    overflow-x: scroll;
}

body {
    padding-top: 60px;
}

.nav-pills {
    padding-bottom: 8px;
}

.list-group-item {
    padding-bottom: 4px;
    padding-right: 4px;
    padding-top: 4px;
}

.navbar-right {
    padding-top: 8px;
}