/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self


/* Sticky footer styles
-------------------------------------------------- */

body {
    /* Margin bottom by footer height */
    /*white-space: nowrap;*/
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {
    padding: 60px;
}

#contenido {
    white-space: nowrap;
}

#contenido > * {
    white-space: normal;
}

.nav-tabs {
    margin-left: 5px;
}

.scrolling-bar {
    overflow-y: scroll;
    height: 80vh;
}

.btn-group-vertical {
    margin-left: -20px;
    margin-top: -1045px;
}

.container.column {
    display: inline-block;
    padding: 3px 3px 3px 3px;
    width: 60vh;
}

.dropdown-menu > li{
    padding: 5px;
}

#refresher:visited {
    color: white;
}

#contenido {
    /*margin-top: 55px;*/
    margin-left: 0vh;
    margin-bottom: 0vh;
    clear: both;
}

html {
    overflow-y: hidden;
    overflow-x: scroll;
}

body {
    padding-top: 60px;
}

.nav-pills {
    padding-bottom: 8px;
}

.list-group-item{
    margin: 4px
}

#alert-success {
    width: 500px;
}

.navbar-right {
    padding-top: 8px;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/assets/glyphicons-halflings-regular.eot');
    src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}